<html>
    <head>

    </head>
    <body>
        <form action="/user" method="POST">
            <input type="text" name = "userName" id = "userName" placeholder="이름"><br>
            <input type="text" name = "desc" id = "desc" placeholder="할말"><br>
            <input type="checkbox" true-value="true" false-value = "false" name = "hascat" id = "hascat">고양이 유무<br>
            <button type="submit">가입</button>
        </form>
    </body>
</html>